@use "variables" as variables;

@mixin flex-center($alignMiddle: false) {
  display: flex;
  height: 90%;

  @if $alignMiddle {
    justify-content: center;
    align-items: center;
  }
}

@mixin reset-flex {
  display: block;
  justify-content: unset;
  align-items: unset;
}

@mixin mobile-screen() {
  @media (max-width: variables.$breakpoint-sm) {@content}
}

@mixin main-dimension() {
  height: variables.$bot_chats-height;
  overflow: auto;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}

@mixin position-lower($top) {
  position: relative;
  top: $top;
}