$primary-color: #002346;
$secondary-color: navajowhite;

$breakpoint-sm: 640px;
$breakpoint-md: 768px;

// chat bot
$bot-height: 600px;
$bot-width: 500px;
// chat bot chats
$bot_chats-height: 500px;
// chat bot action
$bot-input-margin-top: 12px